@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

:root {
    --primary-color: #86efac;
    --offset-color: #f3f4f6;
}

hr {
    margin: 2rem 0rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/** Container **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** Links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-primary-2 {
    background-color: #022c22;
    border-radius: 0.5rem;
    padding-right: 2rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** Lists **/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

/** Header **/

.heading {
    padding: 2rem;
}

.heading-img {
    max-width: 300px;
    max-height: 150px;
    display: block;
    margin: auto;
}

.heading .heading-text {
    padding: 1rem;
    color: darkgray;
    text-align: center;
}

.heading-inverted {
    color: var(--primary-color);

}

/** Sections **/

.section {
    padding: 1rem;
}

.section h3 {
    text-align: center;
    text-align: justify;
}

.ofw {
    background-color: var(--offset-color);
}


/** Footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;

}

.footer-heading {
    font-size: 1.5rem;
    padding: 1rem;
}

.footer .link {
    color: white;
}

.img-icon {
    max-height: 22px;
    vertical-align: middle;
    position: absolute;

}

.hr-new{
    /* padding: 1rem; */
    margin: 0.5rem 20rem;
}